<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners><listener class-name="Qkart.TestComponent.Listeners">
</listener></listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Qkart.Test.RegistrationTest"/>
      <class name="Qkart.Test.LoginTestScenario"/>
    </classes>
  </test> <!-- Test -->
 
</suite> <!-- Suite -->
